//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

elevation-vars = {
  umbra-opacity: .2,
  umbra-map: {
    e0: 0px 0px 0px 0px,
    e1: 0px 2px 1px -1px,
    e2: 0px 3px 1px -2px,
    e3: 0px 3px 3px -2px,
    e4: 0px 2px 4px -1px,
    e5: 0px 3px 5px -1px,
    e6: 0px 3px 5px -1px,
    e7: 0px 4px 5px -2px,
    e8: 0px 5px 5px -3px,
    e9: 0px 5px 6px -3px,
    e10: 0px 6px 6px -3px,
    e11: 0px 6px 7px -4px,
    e12: 0px 7px 8px -4px,
    e13: 0px 7px 8px -4px,
    e14: 0px 7px 9px -4px,
    e15: 0px 8px 9px -5px,
    e16: 0px 8px 10px -5px,
    e17: 0px 8px 11px -5px,
    e18: 0px 9px 11px -5px,
    e19: 0px 9px 12px -6px,
    e20: 0px 10px 13px -6px,
    e21: 0px 10px 13px -6px,
    e22: 0px 10px 14px -6px,
    e23: 0px 11px 14px -7px,
    e24: 0px 11px 15px -7px
  },

  penumbra-opacity: .14,
  penumbra-map: {
    e0: 0px 0px 0px 0px,
    e1: 0px 1px 1px 0px,
    e2: 0px 2px 2px 0px,
    e3: 0px 3px 4px 0px,
    e4: 0px 4px 5px 0px,
    e5: 0px 5px 8px 0px,
    e6: 0px 6px 10px 0px,
    e7: 0px 7px 10px 1px,
    e8: 0px 8px 10px 1px,
    e9: 0px 9px 12px 1px,
    e10: 0px 10px 14px 1px,
    e11: 0px 11px 15px 1px,
    e12: 0px 12px 17px 2px,
    e13: 0px 13px 19px 2px,
    e14: 0px 14px 21px 2px,
    e15: 0px 15px 22px 2px,
    e16: 0px 16px 24px 2px,
    e17: 0px 17px 26px 2px,
    e18: 0px 18px 28px 2px,
    e19: 0px 19px 29px 2px,
    e20: 0px 20px 31px 3px,
    e21: 0px 21px 33px 3px,
    e22: 0px 22px 35px 3px,
    e23: 0px 23px 36px 3px,
    e24: 0px 24px 38px 3px
  }

  ambient-opacity: .12,
  ambient-map: {
    e0: 0px 0px 0px 0px,
    e1: 0px 1px 3px 0px,
    e2: 0px 1px 5px 0px,
    e3: 0px 1px 8px 0px,
    e4: 0px 1px 10px 0px,
    e5: 0px 1px 14px 0px,
    e6: 0px 1px 18px 0px,
    e7: 0px 2px 16px 1px,
    e8: 0px 3px 14px 2px,
    e9: 0px 3px 16px 2px,
    e10: 0px 4px 18px 3px,
    e11: 0px 4px 20px 3px,
    e12: 0px 5px 22px 4px,
    e13: 0px 5px 24px 4px,
    e14: 0px 5px 26px 4px,
    e15: 0px 6px 28px 5px,
    e16: 0px 6px 30px 5px,
    e17: 0px 6px 32px 5px,
    e18: 0px 7px 34px 6px,
    e19: 0px 7px 36px 6px,
    e20: 0px 8px 38px 7px,
    e21: 0px 8px 40px 7px,
    e22: 0px 8px 42px 7px,
    e23: 0px 9px 44px 8px,
    e24: 0px 9px 46px 8px
  }
}