@require '_elevation_vars.styl'

elevation(dp = 0, color = black)
  key = "e" + dp

  umbra-z-value = elevation-vars.umbra-map[key]
  umbra-color = rgba(color, elevation-vars.umbra-opacity)

  penumbra-z-value = elevation-vars.penumbra-map[key]
  penumbra-color = rgba(color, elevation-vars.penumbra-opacity)

  ambient-z-value = elevation-vars.ambient-map[key]
  ambient-color = rgba(color, elevation-vars.ambient-opacity)

  z-index: dp;
  position: relative;
  box-shadow: umbra-z-value umbra-color,
              penumbra-z-value penumbra-color,
              ambient-z-value ambient-color