main-color = #4caf50;
text-on-main-color = black;

light-color = #80e27e;
text-on-light-color = black

dark-color = #087f23;
text-on-dark-color = black

short-space = 0.25rem;
medium-space = 0.5rem;
long-space = 1rem;

