@require '../includes'

base-button()
  box-sizing: border-box;
  min-height: 2rem;
  min-width: 4rem;
  padding: 2px calc(1rem - 2px);

  border-radius: 0.25rem;
  border: 1px solid transparent;

  color: main-color
  background-color: transparent

  font-size: 1rem;
  text-transform: uppercase;

  cursor: pointer

  &:hover
    background-color: rgba(main-color, 0.2);

  &:focus
    background-color: rgba(main-color, 0.4);
    outline: none;

flat-button()
  base-button()
  elevation(0)

outlined-button()
  base-button()
  border-color: #ccc;

contained-button()
  base-button()
  elevation(2)
  border-color: main-color;

  background-color: main-color;
  color: text-on-main-color;

  &:hover
    background-color: rgba(main-color, 0.9)
    elevation(4)

  &:focus
    background-color: rgba(main-color, 0.7)
    elevation(4)

  &:active
    elevation(8)

base-icon-button()
  min-width unset
  padding 2px calc(0.5rem - 2px)

contained-icon-button()
  contained-button()
  base-icon-button()

flat-icon-button()
  flat-button()
  base-icon-button()
