@require '../includes'
@require '~@/assets/stylesheets/modules/button'

base-form()
  .field
    label, input, textarea
      display: block;
      width: 100%;

  .actions
    margin-top: long-space;
    button
      contained-button()