@require 'includes'

html
  font-size: 16px
  font-family: 'OpenSans', Arial, sans-serif
  min-height: 100vh;

a
  color: dark-color
  text-decoration: none

h1
  font-size: 2rem
  margin: 0
  font-weight: normal
  color: dark-color

